<div class="container mt-5">
  <div class="row">
      <h1>Clients</h1>
      <%= link_to "Nuevo Cliente", new_client_path, class: "btn btn-primary mb-3" %>

      <div id="clients">
        <table class="table table-hover">
          <thead class="table-dark">
            <tr>
              <th scope="col">#</th>
              <th scope="col">Nombre</th>
              <th scope="col">Edad</th>
              <th scope="col">Pelicula</th>
              <th scope="col">Estado</th>
              <th scope="col" colspan="3"></th>
            </tr>
          </thead>
          <tbody>
            <% @clients.each do |client| %>
              <tr>
                <th scope="row"><%= client.id %></th>
                <td><%= client.name %></td>
                <td><%= client.age %></td>
                <td><%= client.movies.last %></td>
                <td>
                  <% if client.movies.present? %>
                    Arrendada
                  <% else %>
                    No arrendada
                  <% end %>
                </td>
                <td><%= link_to "Show this client", client, class: "btn btn-secondary btn-sm" %></td>
                <td><%= link_to "Edit this client", edit_client_path(client), class: "btn btn-primary btn-sm" %></td>
                <td><%= button_to "Destroy this client", client, method: :delete, class: "btn btn-danger btn-sm", data: { confirm: "Are you sure?" } %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
